.noticeInfoPage {
    display: flex;
    /*justify-content: space-between;*/
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

.noticeInfoPage > div{
    margin-bottom: 1rem;
}

.comments > div{
    margin-bottom: 1rem;
}

.comment div {
    border: 1px solid var(--border-color);
    padding: 0.3em;
}

.comment .header {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.comment .body {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

aside section {
    border: 1px solid var(--border-color);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    margin-bottom: 1rem;
}

aside section .header {
    border-bottom: 1px solid var(--border-color);
    padding: 0.25rem;
    font-weight: bold;
    color: var(--caption-color);
}

aside section .header:before {
    content: "→";
}

aside section .body {
    padding: 1rem;
}

aside section .footer {
    border-top: 1px solid var(--border-color);
    overflow: auto;
    padding: 0.25rem;
}

aside section .footer a {
    float: right;
    font-size: 0.75rem;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
}

.tag {
    margin-left: 1em;
    /*margin-right: 1em;*/
    margin-bottom: 0.5em;
    border: 1px solid var(--border-color);
    padding: 0.1em;
    border-radius: var(--border-radius);
    background-color: #f8ffb2;
}
